.listItem{
  background: grey;
  color: orange;
  font-size: 20px;
}
.listItem:hover{
cursor: pointer;
}
.done{
  text-decoration: line-through;
  background: orange;
  color:grey;
}

.dateStuff {
  display: none;
}

.superTask {
  font-size: 35px;
}
